In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv("/content/survey.csv")
df

,index,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,1254,2015-09-12 11:17:21,26,male,United Kingdom,NaN,No,No,Yes,NaN,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [ ]:
df.shape

(1259, 28)

In [ ]:
df.isnull().sum()

index                           0
Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                         515
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.head(3)

,index,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN

In [ ]:
df['Age'].value_counts()

 29             85
 32             82
 26             75
 27             71
 33             70
 28             68
 31             67
 34             65
 30             63
 25             61
 35             55
 23             51
 24             46
 37             43
 38             39
 36             37
 40             33
 39             33
 43             28
 22             21
 41             21
 42             20
 21             16
 45             12
 46             12
 44             11
 19              9
 18              7
 48              6
 50              6
 20              6
 51              5
 49              4
 56              4
 57              3
 54              3
 55              3
 47              2
 60              2
 99999999999     1
 5               1
-1               1
 11              1
 8               1
 61              1
 53              1
-29              1
-1726            1
 65              1
 62              1
 58              1
 329             1
 72              1
Name: Age, dtype: int64

In [ ]:
df['Age']=df['Age'].replace([99999999999,-1,-29,-1726],[32,32,32,32])

In [ ]:
df1=df.drop(['Timestamp','Gender','Country','state','comments','remote_work','seek_help','benefits','care_options','anonymity','index','supervisor','obs_consequence','mental_vs_physical'],axis='columns')

In [ ]:
df1.head(3)

,Age,self_employed,family_history,treatment,work_interfere,no_employees,tech_company,wellness_program,leave,mental_health_consequence,phys_health_consequence,coworkers,mental_health_interview,phys_health_interview
0,37,NaN,No,Yes,Often,6-25,Yes,No,Somewhat easy,No,No,Some of them,No,Maybe
1,44,NaN,No,No,Rarely,More than 1000,No,Don't know,Don't know,Maybe,No,No,No,No
2,32,NaN,No,No,Rarely,6-25,Yes,No,Somewhat difficult,No,No,Yes,Yes,Yes

In [ ]:
df1['self_employed'].unique()

array([nan, 'Yes', 'No'], dtype=object)

In [ ]:
df1['self_employed']=df1['self_employed'].fillna('Yes')

In [ ]:
df2=df1.drop(['Age','self_employed','family_history','treatment','work_interfere','tech_company'],axis='columns')

In [ ]:
df2

,no_employees,wellness_program,leave,mental_health_consequence,phys_health_consequence,coworkers,mental_health_interview,phys_health_interview
0,6-25,No,Somewhat easy,No,No,Some of them,No,Maybe
1,More than 1000,Don't know,Don't know,Maybe,No,No,No,No
2,6-25,No,Somewhat difficult,No,No,Yes,Yes,Yes
3,26-100,No,Somewhat difficult,Yes,Yes,Some of them,Maybe,Maybe
4,100-500,Don't know,Don't know,No,No,Some of them,Yes,Yes
...,...,...,...,...,...,...,...,...
1254,26-100,No,Somewhat easy,No,No,Some of them,No,No
1255,26-100,No,Somewhat difficult,No,No,Some of them,No,No
1256,More than 1000,No,Somewhat difficult,Yes,Yes,No,No,No
1257,100-500,No,Don't know,Yes,No,No,No,No
1258,26-100,No,Don't know,Maybe,No,Some of them,No,No

In [ ]:
df2['mental_health_consequence']=df['mental_health_consequence'].replace(["Maybe"],["No"])

In [ ]:
df2['phys_health_consequence'].value_counts()

No       925
Maybe    273
Yes       61
Name: phys_health_consequence, dtype: int64

In [ ]:
df2['mental_health_consequence']=df2['mental_health_consequence'].replace(["Maybe"],["No"])

In [ ]:
df3=df2.drop(['phys_health_consequence','phys_health_interview',],axis='columns')
df3

,no_employees,wellness_program,leave,mental_health_consequence,coworkers,mental_health_interview
0,6-25,No,Somewhat easy,No,Some of them,No
1,More than 1000,Don't know,Don't know,No,No,No
2,6-25,No,Somewhat difficult,No,Yes,Yes
3,26-100,No,Somewhat difficult,Yes,Some of them,Maybe
4,100-500,Don't know,Don't know,No,Some of them,Yes
...,...,...,...,...,...,...
1254,26-100,No,Somewhat easy,No,Some of them,No
1255,26-100,No,Somewhat difficult,No,Some of them,No
1256,More than 1000,No,Somewhat difficult,Yes,No,No
1257,100-500,No,Don't know,Yes,No,No
1258,26-100,No,Don't know,No,Some of them,No

In [ ]:
df3['wellness_program'].value_counts()

No            842
Yes           229
Don't know    188
Name: wellness_program, dtype: int64

In [ ]:
df3['wellness_program']=df3['wellness_program'].replace(["Dont know"],"No")
df3.head()

,no_employees,wellness_program,leave,mental_health_consequence,coworkers,mental_health_interview
0,6-25,No,Somewhat easy,No,Some of them,No
1,More than 1000,Don't know,Don't know,No,No,No
2,6-25,No,Somewhat difficult,No,Yes,Yes
3,26-100,No,Somewhat difficult,Yes,Some of them,Maybe
4,100-500,Don't know,Don't know,No,Some of them,Yes

In [ ]:
df3['leave'].value_counts()

Don't know            563
Somewhat easy         266
Very easy             206
Somewhat difficult    126
Very difficult         98
Name: leave, dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
le_leave=LabelEncoder()
df3.leave=le_leave.fit_transform(df3.leave)
df3

,no_employees,wellness_program,leave,mental_health_consequence,coworkers,mental_health_interview
0,6-25,No,2,No,Some of them,No
1,More than 1000,Don't know,0,No,No,No
2,6-25,No,1,No,Yes,Yes
3,26-100,No,1,Yes,Some of them,Maybe
4,100-500,Don't know,0,No,Some of them,Yes
...,...,...,...,...,...,...
1254,26-100,No,2,No,Some of them,No
1255,26-100,No,1,No,Some of them,No
1256,More than 1000,No,1,Yes,No,No
1257,100-500,No,0,Yes,No,No
1258,26-100,No,0,No,Some of them,No

In [ ]:
df["wellness_program"].value_counts()

No            842
Yes           229
Don't know    188
Name: wellness_program, dtype: int64

In [ ]:
le_wellness_program=LabelEncoder()
df3.wellness_program=le_wellness_program.fit_transform(df3.wellness_program)
df3.head(3)

,no_employees,wellness_program,leave,mental_health_consequence,coworkers,mental_health_interview
0,6-25,1,2,No,Some of them,No
1,More than 1000,0,0,No,No,No
2,6-25,1,1,No,Yes,Yes

In [ ]:
df['no_employees'].value_counts()

6-25              290
26-100            289
More than 1000    282
100-500           176
1-5               162
500-1000           60
Name: no_employees, dtype: int64

In [ ]:
np_list=pd.Series(df3['no_employees'].unique())
print(np_list)

0              6-25
1    More than 1000
2            26-100
3           100-500
4               1-5
5          500-1000
dtype: object

In [ ]:
np_list2=np_list.str.findall('(\d+)')

In [ ]:
np_list3=pd.Series([],dtype="float64")
for i in range(0,len(np_list2)):
  np_list2[i]=np.array(np_list2[i]).astype(np.float64)
  np_list3[i]=(sum(np_list2[i])/len(np_list2[i])).round()

In [ ]:
np_list3

0      16.0
1    1000.0
2      63.0
3     300.0
4       3.0
5     750.0
dtype: float64

In [ ]:
df3['no_employees']=np_list3

In [ ]:
df3.head(3)

,no_employees,wellness_program,leave,mental_health_consequence,coworkers,mental_health_interview
0,16.0,1,2,No,Some of them,No
1,1000.0,0,0,No,No,No
2,63.0,1,1,No,Yes,Yes

In [ ]:
le_wellness_program=LabelEncoder()
df3.wellness_program=le_wellness_program.fit_transform(df3.wellness_program)
df3.head(3)

,no_employees,wellness_program,leave,mental_health_consequence,coworkers,mental_health_interview
0,16.0,1,2,No,Some of them,No
1,1000.0,0,0,No,No,No
2,63.0,1,1,No,Yes,Yes

In [ ]:
df['coworkers'].value_counts()

Some of them    774
No              260
Yes             225
Name: coworkers, dtype: int64

In [ ]:
le_cw=LabelEncoder()
df3.coworkers=le_cw.fit_transform(df3.coworkers)
df3.head(3)

,no_employees,wellness_program,leave,mental_health_consequence,coworkers,mental_health_interview
0,16.0,1,2,No,1,No
1,1000.0,0,0,No,0,No
2,63.0,1,1,No,2,Yes

In [ ]:
le_mhi=LabelEncoder()
df3.mental_health_interview=le_mhi.fit_transform(df3.mental_health_interview)
df3.head(3)

,no_employees,wellness_program,leave,mental_health_consequence,coworkers,mental_health_interview
0,16.0,1,2,No,1,1
1,1000.0,0,0,No,0,1
2,63.0,1,1,No,2,2

In [ ]:
df3['no_employees'].fillna(305)

0         16.0
1       1000.0
2         63.0
3        300.0
4          3.0
         ...
1254     305.0
1255     305.0
1256     305.0
1257     305.0
1258     305.0
Name: no_employees, Length: 1259, dtype: float64

In [ ]:
df3['wellness_program'].isnull().values.any()

False

In [ ]:
df3['leave'].isnull().values.any()

False

In [ ]:
df3['coworkers'].isnull().values.any()

False

In [ ]:
df3['mental_health_interview'].isnull().values.any()

False

In [ ]:
X=df3.drop('mental_health_consequence',axis='columns')
y=df3['mental_health_consequence']

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [ ]:
from sklearn.ensemble import HistGradientBoostingClassifier
model=HistGradientBoostingClassifier(loss='log_loss',learning_rate=0.1,max_iter=20)
model.fit(X_train,y_train)

HistGradientBoostingClassifier(max_iter=20)

In [ ]:
model.score(X_test,y_test)

0.8015873015873016

In [ ]:
pred=model.predict(X_test)

In [ ]:
pred

array(['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'Yes',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'Yes',
       'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'No',
       'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No',
       'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'No',
       'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No',
       'No'], dtype=object)

In [ ]:
pdf=pd.DataFrame({'col':pred})
print(pdf)

    col
0    No
1    No
2    No
3    No
4    No
..   ..
247  No
248  No
249  No
250  No
251  No

[252 rows x 1 columns]